.container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* 👻 nascondi input brutto */
.hiddenInput {
  display: none;
}

/* 🎯 bottone file figo */
.customFile {
  padding: 8px 14px;
  background: #fae101;
  color: #3b82f6;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.2s ease;
}

.customFile:hover {
  background: #e5e7eb;
}

.uploadBtn {
  padding: 8px 14px;
  background: #3b82f6;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.uploadBtn:hover {
  background: #2563eb;
}

.success {
  color: green;
  font-size: 14px;
}

.error {
  font-size: 14px;
}

.errorText {
  color: red;
  margin-left: 5px;
}

/* Rendi il tutto responsive */
@media (max-width: 768px) {
  .container {
    justify-content: flex-start;
    padding-top: 10px;
  }
}